/* src/index.css */
:root {
  --background-color: #040714; /* Azul muy oscuro de fondo */
  --card-background: #1c1f2d;
  --primary-color: #007bff; /* Podríamos cambiarlo por el amarillo */
  --cinepolis-yellow: #ffc107; /* El amarillo de Cinépolis */
  --text-color: #f9f9f9;
  --text-color-secondary: #cacaca;

  --font-headings: 'Poppins', sans-serif;
  --font-body: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-body); /* Aplicamos la fuente base */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}